@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body,html{
    height: 100%;
}
body{
    background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
    font-family: 'Roboto', sans-serif;
}
.main{
    height: 520px;
    width: 360px;
    background-color:white;
    margin: 0 auto; 
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
   
}
.heading{
    font-size: 21px;
    font-weight:bold;
    /* background-color:bisque; */
    margin-top: 65px;
}
.para{
    margin-top: -15px;
    font-size: 13.5px;
    color: rgb(117, 117, 117);
}
.name-label{
    font-size: 11px;
    font-weight: bold;
    margin-top: -15px;
}
.name{
    width: 290px;
    height: 25px;
    border-radius: 4px;
    border-color:rgb(240, 240, 240) ;
    border-style: groove;
}
.number-label{
    font-size: 11px;
    font-weight: bold;
    margin-top: -7px;
}
.number{
    width: 290px;
    height: 25px;
    border-radius: 4px;
    border-color:rgb(240, 240, 240) ;
    border-style: groove;
}
.email-label{
    font-size: 11px;
    font-weight: bold;
    margin-top: -7px;
}
.email{
    width: 290px;
    height: 25px;
    border-radius: 4px;
    border-color:rgb(240, 240, 240) ;
    border-style: groove;
}
.password-label{
    font-size: 11px;
    font-weight: bold;
    margin-top: -7px;
}
.password{
    width: 290px;
    height: 25px;
    border-radius: 4px;
    border-color:rgb(240, 240, 240) ;
    border-style: groove;
}
.password-checker-label{
    font-size: 11px;
    font-weight: bold;
    margin-top: 10px;
}
.password-checker{
    width: 290px;
    height: 25px;
    border-radius: 4px;
    border-color:rgb(240, 240, 240) ;
    border-style: groove;
}
.sign-up{
    width: 300px;
    height: 30px;
    border-radius: 4px;
    font-size: 11.5px;
    font-weight: bold;
    color: white;
    background-color: #0280FB;
    border-style: groove;
    border-color: #0280FB;
    margin-top: 18px;
}
.image{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    margin: 0 auto;
    margin-top: -575px;
    border-radius: 50px;
}
.dummy-image{
    height: 100px;
    width: 100px;
    margin: 0 auto;
    border-radius: 50px;
}
.sign-in{
    font-size: 11px;
    color:rgb(58, 58, 58) ;
    font-weight: 900px;
    margin: 0 auto;
    margin-top: 12px;


}